body {
	background-color: #5DBCD2;
}

.row {
	margin: auto;
	width:50%;
	border: 3px solid white;
	background-color: #e8eaea;
	border-radius: 3px;
	padding: 55px 20px;
	margin-top: 3%;
}

.title {
	margin-top: -4%;
	display: block;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.create_record{
	display: inline;
}

.visit_record{
	display: inline;
}

#patient{
	position:relative;
    transition: .5s ease;
    top: 10px;
    left: 15.5%;
}

#visit{
	position:relative;
    transition: .5s ease;
    top:-39px;
    left: 40.5%;
}

#send{
	position:relative;
    transition: .5s ease;
    top: -88px;
    left: 63%;
}

#logout{
	position:relative;
    transition: .5s ease;
    top: -190px;
    left: 90%;
}

