body {
	background-color: #5DBCD2;
}

.row {
	margin: auto;
	width:50%;
	border: 3px solid white;
	background-color: #e8eaea;
	border-radius: 3px;
	padding: 55px 20px;
	margin-top: 3%;

}

.title {
	margin-top: 0%;
	display: block;
	font-size: 40px;
	font-weight: bold;
	text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
    width: 25%;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

li a:hover {
	color: black;
    background-color: #e8eaea;
    text-decoration: none;
}

li a:hover:not(.active) {
	color: black;
    background-color: #e8eaea;
    text-decoration: none;
}

.active {
    background-color: #c7204a;
}

.mid_title {
    text-align:center;
    margin-bottom: 5%;
    text-decoration: underline;
}

.name_hm {
    font-size: 22px;
    color: black;
}

a:hover {
    color: #c7204a;
    text-decoration: none;
}

.name_hm:hover:not(.active) {
    color: #c7204a;
    text-decoration: none;
}